{% extends 'base/base.html'%}
{% load static %}
{% block content %}
      <div>
         <h2 class="center-align">Welcome to Carator</h2>
         <h4 class="center-align">Your Accounting Professionals</h4>
         <p class="center-align">Carator specializes in a variety of accounting services with outstanding support. We understand how busy you are, and with our expertise we can take care of your accounting needs quickly and effectively. We are equipped to handle the books for you, leaving you to worry less and live more.</p>
         <p><a href="">See Our Services</a></p>
{% endblock %}
